  name: automation
  on: push
  env:
    PYTHON_VERSION: 3.8.10

  test-infra:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: test get-function
        run: cd Cloud-Challenge-SAM/get-function && go test -v ./ && cd ../../
      - name: test put-function
        run: cd Cloud-Challenge-SAM/put-function && go test -v ./ && cd ../../